footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: red;
  font-weight: bold;
}

footer .footer a{
  height:50px;
   width:75px;
   border:1px solid;
   color:black;
  font-weight: normal;
  padding: 2px;
  border-radius: 20px;
  background-color: light-gray;
  border-color: gray;
}

footer .footer div{
  display: block;
  color: red;
  font-weight: bold;
}
