footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: red;
  font-weight: bold;
}

footer .footer a{
  height:25px;
   width:75px;
   background-color:blue;
   border:none;
   color:white;
  font-weight: normal;
}

footer .footer div{
  color: red;
  font-weight: bold;
}
